<!doctype html>
<html>
  <head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='dropzone.css') }}">
    <script type="text/javascript" src="/static/htmx.min.js"></script>
    <script type="text/javascript" src="/static/dropzone-min.js"></script>
    <title>{% block title %}{{request.path}} - {{site_title}}{% endblock %}</title>
    <h1>{{site_title}} - {{request.path}}</h1>
    {% endblock %}
  </head>
  <div class="sidebar">
    <form method='post' action='/search/{{search}}'>
    <div><input type='text' name='search' placeholder='Search'>
    <input type='submit'>
    </div>
    </form>
    <p><a href="/">Home</a></p>
    <p><a href="/archive">Archive</a></p>

    {% if session.logged_in %}
    <h4>Welcome {{user}} | ({{count}} posts)</h4>
    <p><a href="/new/post">New post</a></p>
    <p><a href="/new/page">New page</a></p>
    <p><a href="/library">Media library</a></p>
    <p><a href="/pages">Pages</a></p>
    {% else %}
    <p><a href="/login">Login</a></p>
    {% endif %}
    
  </div>
  <body>
    
    <div class="content">{% block content %}{% endblock %}</div>
  </body>
</html>