{% extends "layout.html" %}
  {% block content %}
<h3>Uploaded images</h3>

<form method="post" action="/blog-upload" class="dropzone" enctype="multipart/form-data">
<input type="file" name="file">
<input type="submit" value="Submit">
</form>
<script>
  Dropzone.discover();
</script>
{% for item2 in list_img %}
<a href="/static/uploads/{{item2}}"><img width="50px" src="/static/uploads/{{item2}}" /></a><textarea cols="100", rows="2">[![](/static/uploads/{{item2}})](/static/uploads/{{item2}})</textarea><a style="position:relative;top:-13px" href="/blog-upload/delete/{{item2}}">Delete image</a><br>
{% endfor %}
  {% endblock %}